extends ../layout/admin
block title 
  | List article
block content
  h1.text-center.m-3  All list article
  table.table.col-10(border=1)
    col
    col(width = '' )
    col(width = '300')
    col
    tr
      th #
      th Author
      th Title
      th Images
      th Description
      th Date
      th View
      th 
        a(href="/theads/create") Create
    tr
    - var i = 0
    tr
      td= ++i
      td= article.author.username
      td
        a(href= '/theads/' + article.slug)=  article.title
      td
        img(src='/'+article.images, alt=article.title, width='100px')
      td= article.description
      td= date
      td= conunt
      td
        a.btn.btn-info(href= '/theads/edit/' + article._id)
          i(class="far fa-edit")
        a.btn.btn-danger(href='/theads/remove/' + article._id)
            i(class="far fa-trash-alt")
  include ../partials/pagination


