doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', type='image/png', href='images/icons/favicon.png')
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/vendor/bootstrap/css/bootstrap.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/fonts/fontawesome/css/all.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/fonts/iconic/css/material-design-iconic-font.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/vendor/animate/animate.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/vendor/css-hamburgers/hamburgers.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/vendor/animsition/css/animsition.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/css/util.min.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/css/main.css`)
  link(rel='stylesheet', type='text/css', href=`${fullUrl}/css/custom.css`)

title 
  block title
//-Header
body.animsition
  include ../partials/client/header

  block content
  include ../partials/client/footer

