footer
  .bg2.p-t-40.p-b-25
    .container
      .row
        .col-lg-4.p-b-20
          .size-h-3.flex-s-c
            a(href=`/`)
              img.max-s-full(src=`${fullUrl}/images/icons/logo-02.png`, alt='LOGO')
          div
            p.f1-s-1.cl11.p-b-16
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur, at
              | accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis. Vestibulum
              | dolor metus, tincidunt eget odio
            p.f1-s-1.cl11.p-b-16
              | Any questions? Call us on (+1) 96 716 6879
            .p-t-15
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-facebook-f

        .col-sm-6.col-lg-4.p-b-20.popular-post
          .size-h-3.flex-s-c
            h5.f1-m-7.cl0
              | Popular Posts
          ul
            each article in popular
              li.flex-wr-sb-s.p-b-20
                a.size-w-4.wrap-pic-w.hov1.trans-03(href=`${fullUrl}/${article.slug}`)
                  img(src=`${fullUrl}/${article.images}`, alt=`${article.name}`)
                .size-w-5
                  h6.p-b-5
                    a.f1-s-5.cl11.hov-cl10.trans-03(href=`${fullUrl}/${article.slug}`)
                     =article.title
                  span.f1-s-3.cl6
                    = article.createdAt.toString().split(' ').splice(1,3).join(' ')
            
        .col-sm-6.col-lg-4.p-b-20
          .size-h-3.flex-s-c
            h5.f1-m-7.cl0
              | Category
          ul.m-t--12
            each cate in menu
              li.how-bor1.p-rl-5.p-tb-10
                a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href=`${cate.slug}.html`)
                  =cate.name
//-Back to top
#myBtn.btn-back-to-top
  span.symbol-btn-back-to-top
    span.fas.fa-angle-up
script(src=`${fullUrl}/vendor/jquery/jquery-3.2.1.min.js`)
script(src=`${fullUrl}/vendor/animsition/js/animsition.min.js`)
script(src=`${fullUrl}/vendor/bootstrap/js/popper.js`)
script(src=`${fullUrl}/vendor/bootstrap/js/bootstrap.min.js`)
script(src=`${fullUrl}/js/main.js`)