section.bg0.p-t-60.p-b-35
  .container
    .row.justify-content-center
      .col-md-10.col-lg-8.p-b-20
        .how2.how2-cl4.flex-s-c.m-r-10.m-r-0-sr991
          h3.f1-m-2.cl3.tab01-title
            | Latest Articles
        .row.p-t-35
          each article in articles
            .col-sm-6.p-r-25.p-r-15-sr991
              //-Item latest
              .m-b-45
                div(style='height:220px;position: relative;')
                  a.wrap-pic-w.hov1.trans-03(href='article.slug')
                    img(src=article.images, alt='IMG')
                .p-t-16
                  h5.p-b-5
                    a.f1-m-3.cl2.hov-cl10.trans-03(href=article.images)= article.title
                  span.cl8
                    a.f1-s-4.cl8.hov-cl10.trans-03(href='#')= article.category.name
                    span.f1-s-3.m-rl-3
                      | -
                    span.f1-s-3= moment(article.createdAt).format('MMM DD')
      .col-md-10.col-lg-4
        .p-l-10.p-rl-0-sr991.p-b-20
          //-Video
          .p-b-55
            .how2.how2-cl4.flex-s-c
              h3.f1-m-2.cl3.tab01-title
                | Most Popular
            ul.p-t-35
              - let i = 1
            each article in popular
              li.flex-wr-sb-s.p-b-22
                .size-a-8.flex-c-c.borad-3.size-a-8.bg9.f1-m-4.cl0.m-b-6
                  = i++
                a.size-w-3.f1-s-7.cl3.hov-cl10.trans-03(href=article.slug)
                  = article.title
          
          //-Tag
          .p-b-55
            .how2.how2-cl4.flex-s-c.m-b-30
              h3.f1-m-2.cl3.tab01-title
                | Tags
            .flex-wr-s-s.m-rl--5
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Fashion
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Lifestyle
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Denim
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Streetstyle
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Crafts
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Magazine
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | News
              a.flex-c-c.size-h-2.bo-1-rad-20.bocl12.f1-s-1.cl8.hov-btn2.trans-03.p-rl-20.p-tb-5.m-all-5(href='#')
                | Blogs